<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.instagram.com/"><i class="pi pi-instagram" style="margin-top: 7px;"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100085457727166"><i class="pi pi-facebook" style="margin-top: 7px;"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="#" *ngIf="!authenticate">Découvrir</a>

            <a class="link-1" href="#" *ngIf="authenticate">Gestion</a>

            <a href="#" *ngIf="!authenticate">Informations</a>

            <a href="#" *ngIf="authenticate">Documentation</a>

            <a href="#" *ngIf="!authenticate">Adhérer</a>

            <a href="#" *ngIf="authenticate">Adhérent</a>

            <a routerLink="contact" *ngIf="!authenticate">Contact</a>
        </p>

        <p>GPEI Mennecy &copy; {{footerDate | date: 'yyyy'}}</p>
    </div>

</footer>
