<footer class="footer-distributed">

    <div class="footer-right">

        <a href="#"><i class="pi pi-instagram" style="margin-top: 7px;"></i></a>
        <a href="#"><i class="pi pi-facebook" style="margin-top: 7px;"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="#">Découvrir</a>

            <a href="#">Informations</a>

            <a href="#">Adhérer</a>

            <a href="#">Contact</a>
        </p>

        <p>GPEI Mennecy &copy; {{footerDate | date: 'yyyy'}}</p>
    </div>

</footer>
