<div class="whyPage">
    <div>
        <h2 class="textwhy">Pourquoi adhérer à la GPEI ?</h2>
    </div>
    <br />
    <h3>Le GPEI Mennecy / UNAAPE a été déclaré association « loi de 1901 » et est présent pour : </h3>
    <br />
    <br />
    <div class="ensembleTextewhy">
        <div class="elemMat">
            <p class="titleWhy">Les élémentaires et maternelles</p>
                <p>
                    - Le GPEI Mennecy / UNAAPE a œuvré pour les travaux de sécurité nécessaires dans les écoles et aux 
                    abords de celles-ci.
                </p>
                <br />
                <p>
                    - Les parents élus se sont impliqués dans l’organisation de kermesses dans les écoles ayant décidé 
                    d’organiser ce type de manifestation
                </p>
                <br />
                <p>
                    - Le GPEI MENNECY / UNAAPE a participé aux commissions de la restauration pour les maternelles et 
                    les élémentaires
                </p>
        </div>
        <div class="college">
            <p class="titleWhy">Au collège</p>
                <p>
                    - Le GPEI Mennecy / UNAAPE a été présent à toutes les commissions du collège
                </p>
                <br />
                <p>
                    - Le GPEI Mennecy / UNAAPE a œuvré pour que la sécurité des enfants soit la priorité des autorités
                </p>
                <br />
                <p>
                    - Le GPEI Mennecy / UNAAPE a été présent lors du Cross du Collège
                </p>
                <br />
                <p>
                    - Le GPEI Mennecy / UNAAPE a proposé une commande groupée de fournitures scolaires
                </p>
        </div>
        <div class="lycee">
            <p class="titleWhy">Au lycée</p>
                <p>
                    - Le GPEI a été présent à toutes les commissions du lycée
                </p>
                <br />
                <p>
                    - Le GPEI Mennecy / UNAAPE a œuvré pour que la sécurité des élèves soit la priorité des autorités
                </p>
        </div>
    </div>
    <br />
    <button class="btnAdherer" (click)="onContinue()">Adhérer au GPEI</button>
</div>
