.textwhy {
    color: #e08e13;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 14px;
    background: linear-gradient(to right, #e08e13 120%, transparent 50%) no-repeat center bottom/5% 4px;
}

.whyPage {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
}