.ensembleTextewhy {
  display: flex;
}

.textwhy {
    color: #e08e13;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 14px;
    background: linear-gradient(to right, #e08e13 120%, transparent 50%) no-repeat center bottom/5% 4px;
}

.whyPage {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.elemMat {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(146, 146, 146, 0.7) 100%), url('../../assets/elemmat.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: center;
}

.college{
    background: linear-gradient(90deg, rgba(224, 142, 19, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../../assets/college2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: center;
}

.lycee{
    background: linear-gradient(90deg, rgba(59, 59, 172, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../../assets/lycee2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: center;
}

.titleWhy {
    font-size: 7vh;
}

.btnAdherer {
    border: none;
    color: white;
    padding: 10px 10px 10px;
    font-size: 1.275rem;
    margin-top: 30px;
    background-color: #e08e13;
    border-radius: 7px;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
          transform: scale(1.09);
    }
  }

  @media screen and (max-width: 1000px) {
    .whyPage {
        margin: 60px;
    }

    .ensembleTextewhy {
        display: block;
    }

    .btnAdherer{
        text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .titleWhy {
        font-size: 5vh;
    }
  }

  @media screen and (max-width: 380px) {
    .titleWhy {
        font-size: 5vh;
    }

    .whyPage {
        margin: 20px;
    }
  }

  @media screen and (max-width: 330px) {
    .titleWhy {
        font-size: 4vh;
    }

    .whyPage {
        margin: 10px;
    }
  }