.textQuiSommesNousPage {
    color: #e08e13;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 14px;
    background: linear-gradient(to right, #e08e13 120%, transparent 50%) no-repeat center bottom/5% 4px;
}

.h1Top {
    font-size: 5vh;
}

.h2Top {
    font-size: 4vh;
}

.h3Top {
    font-size: 3vh;
}

li {
    font-size: 2.5vh;
}

.unaapeBloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiSommesnousPage {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

#schoolHelp,
#politic,
#inform,
#neutrality,
#election {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.missions {
    display: flex;
    justify-content: space-around;
    background-image: url("../../assets/backgroundUnaape.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blocUnaape {
    text-align: center;
    margin: 0px 1%; 
    width: 30%;
    font-size: 2.5vh;
}

@media screen and (max-width: 600px) {
    .missions{
        display: inline-block;
    }

    .blocUnaape {
        width: 100%;
        margin: 10vh 1%;
    }

    .unaapeBloc {
        display: block;
    }

    .logoUnaape {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 400px) {
    .ensembleTextePres{
        text-align: center;
    }

    .quiSommesnousPage {
        margin: 60px;
    }
}