<div class="quiSommesnousPage">
    <div>
        <h2 class="textQuiSommesNousPage">Qui sommes-nous ?</h2>
    </div>
    <br />
    <div clas="ensembleTextePres">
        <h1 style="color: #e08e13;">Présentation de la GPEI</h1>
        <p style="font-weight: bold; margin-top: 45px;">
            Le GPEI a été créé à Mennecy en 1977 par des parents bénévoles souhaitant rester à l’écart de toute influence
            politique ou autre et décidés à avoir une action au niveau local
        </p>
        <p>Le GPEI Mennecy / UNAAPE a été déclaré association « loi de 1901 ». Nous nous sommes affiliés à l’UNAAPE en 2013 afin
           de pouvoir siéger dans les instances où une représentation nationale est obligatoire.
        </p>
        <br />
        <br />
        <div class="unaapeBloc">
            <div>
                <h2>L'UNAAPE regroupe des associations AUTONOMES :</h2>
                <p style="margin: 0px 10px 0px;">- L'UNAAPE n'est pas une Fédération, mais une UNION pluraliste, indépendante de toute idéologie, de tout 
                    mouvement politique, syndical et religieux
                </p>
                <br />
                <p style="margin: 0px 10px 0px;">- L'UNAAPE est le seul mouvement national de Parents d'Elèves dont les membres du Conseil d'Administration 
                    s'engagent à ne pas exercer d'activités politiques, syndicales ou religieuses publiques
                </p>
                <br />
                <p style="margin: 0px 10px 0px;">- L'affiliation à l'UNAAPE n'altère pas la liberté d'action des associations membres mais garantit une information 
                    rapide et complète                    
                </p>
            </div>
            <img src="../../assets/UNAAPE.jpg" alt="UNAAPE" />
        </div>
        <br />
        <br />
        <h3>L'UNAAPE regroupe des parents attachés à :</h3>
        <ul>
            <li>La responsabilité et la liberté des parents dans les choix éducatifs</li>
            <br />
            <li>L'absolue neutralité politique, syndicale et religieuse du système éducatif</li>
            <br />
            <li>Un engagement de qualité adapté aux aptitudes de chaque élève</li>
            <br />
            <li>L'éducation aux valeurs civiques et morales</li>
        </ul>
        <br />
        <br />
        <h2 style="color: #e08e13; text-align: center;">Mission de l'UNAAPE</h2>
        <div class="missions">
            <div class="blocUnaape">
                <img id="schoolHelp" src="../../assets/schoolHelp.jpg" alt="UNAAPE" />
                <p>Aider les parents d'élèves et d'étudiants, pour ce qui concerne la vie scolaire de leurs enfants, en les informant 
                    sur le fonctionnement et l'évolution du système éducatif, et en leur proposant des services ayant un lien avec 
                    les études de leurs enfants
                </p>
            </div>
            <div class="blocUnaape">
                <img id="politic" src="../../assets/politic.jpg" alt="UNAAPE" />
                <p>Représenter les parents d'élèves et d'étudiants de l'enseignement public auprès des pouvoirs publics du 
                    Ministère de l'Education nationale et de toutes les instances concernées par l'enseignement et par la formation 
                    des élèves et des étudiants
                </p>
            </div>
            <div class="blocUnaape">
                <img id="inform" src="../../assets/inform.jpg" alt="UNAAPE" />
                <p>Informer les associations et unions membres sur le fonctionnement et l'évolution du système éducatif, intervenir 
                    sur toute question relative à l'éducation, à l'enseignement et à la formation des élèves et des étudiants, de 
                    proposer toute amélioration, de participer à tout projet de réforme, au point de vue intellectuel ou matériel
                </p>
            </div>
            <div class="blocUnaape">
                <img id="neutrality" src="../../assets/neutrality.jpg" alt="UNAAPE" />
                <p>Veiller et contribuer au maintien du respect absolu de la neutralité politique ou religieuse au sein des 
                    établissements publics d'enseignement
                </p>
            </div>
            <div class="blocUnaape">
                <img id="election" src="../../assets/election.jpg" alt="UNAAPE" />
                <p>Permettre aux parents de présenter des candidats aux élections de représentants de parents d'élèves dans les 
                    établissements publics d'enseignement
                </p>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <h3>Le GPEI Mennecy / UNAAPE a été déclaré association « loi de 1901 » et est présent pour : </h3>
        <ul>
            <li>Les élémentaires et maternelles</li>
            <br />
            <li>Au collège</li>
            <br />
            <li>Au lycée</li>
        </ul>
    </div>
</div>
