<div class="EnsembleMentions">
    <div>
        <h2 class="textMenPage">Mentions légales</h2>
    </div>
    <div class="textJuridique">
        <h1>1 - Édition du site</h1>
        <br />
        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet <span style="color: orange">https://gpei-mennecy.fr</span> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:</p>
        <p>Propriétaire du site : <strong>GPEI Mennecy/UNAAPE</strong> - Contact : <span style="color: orange">secretariat.gpei@gmail.com</span> 06 84 17 14 26 - Adresse : 65 Bd Charles de Gaulle, 91540 Mennecy.</p>
        <p>Identification de l'association : Association déclarée au 14 janvier 2010 <strong>GPEI Mennecy/UNAAPE</strong> - SIREN : 790614861 - RNA : W912002248 - Adresse postale : 65 Bd Charles de Gaulle, 91540 Mennecy -</p>
        <p>Hébergeur : Firebase <span style="color: orange">https://firebase.google.com</span></p>
        <p>Autres contributeurs : Shutterstock, TRAN Tristan, Mairie de Mennecy</p>
        <br />
        <br />
        <h1>2 - Propriété intellectuelle et contrefaçons.</h1>
        <br />
        <p><strong>GPEI Mennecy/UNAAPE</strong> est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.</p>
        <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de <strong>GPEI Mennecy/UNAAPE.</strong></p>
        <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
        <br />
        <br />
        <h1>3 - Limitations de responsabilité.</h1>
        <br />
        <p><strong>GPEI Mennecy/UNAAPE</strong> ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site <span style="color: orange">https://gpei-mennecy.fr.</span></p>
        <p><strong>GPEI Mennecy/UNAAPE</strong> décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur <span style="color: orange">https://gpei-mennecy.fr.</span></p>
        <p><strong>GPEI Mennecy/UNAAPE</strong> s’engage à sécuriser au mieux le site <span style="color: orange">https://gpei-mennecy.fr</span>, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.</p>
        <p>Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. <strong>Mennecy/UNAAPE</strong> se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.</p>
        <p>Le cas échéant, <strong>GPEI Mennecy/UNAAPE</strong> se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</p>
        <br />
        <br />
        <h1>4 - CNIL et gestion des données personnelles.</h1>
        <br />
        <p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site <span style="color: orange">https://gpei-mennecy.fr</span> dispose d’un droit d’accès, de modification et de suppression des informations collectées.</p>
        <br />
        <br />
        <h1>5 - Liens hypertextes</h1>
        <br />
        <p>Le site <span style="color: orange">https://gpei-mennecy.fr</span> contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers <span style="color: orange">https://gpei-mennecy.fr.</span></p>
        <br />
        <br />
        <h1>6 - Droit applicable et attribution de juridiction.</h1>
        <br />
        <p>Tout litige en relation avec l’utilisation du site <span style="color: orange">https://gpei-mennecy.fr</span> est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Mennecy.</p>
    </div>
</div>