<p-carousel [value]="posts" [showIndicators]= false [circular]= true [showNavigators]= false [numVisible]="1" [numScroll]="1" [autoplayInterval]= 3500>
    <ng-template let-post pTemplate="item">
        <div class="ensemble">
            <div class="image-wrapper">
                <img class="Image" src="{{ post.imageUrl }}" alt="{{ post.title }}">
            </div>
            <div class="Texte">
                <h1>{{post.title}}</h1> 
            </div>
        </div>
    </ng-template>
</p-carousel>