.Image {
    height: 550px; 
    object-fit: cover;
    width: 100%;
}

.ensemble {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.Texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 45px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .custom-prev-button,
  .custom-next-button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 100%;
    font-weight: bold;
  }
  
  .custom-prev-button {
    left: 5%;
  }
  
  .custom-next-button {
    right: 5%;
  }

  .loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
  }
  

  @media screen and (max-width: 425px) {
    .Texte {
      font-size: 0.8rem;
    }
  }