.textContactPage {
    color: #e08e13;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 14px;
    background: linear-gradient(to right, #e08e13 120%, transparent 50%) no-repeat center bottom/5% 4px;
}

.contactPage {
    margin-top: 60px;
    margin-bottom: 60px;
}

.content {
    color: white;
}

h2 {
    color: rgb(59, 59, 172);
}

.informationContent {
    background-color: rgb(106, 106, 255);
    padding: 20px;
}

.ensembleBlocContact {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.headerBloc {
    background-color: #e28308;
    padding: 1px 15px 1px;
}

.form {
    background-color: rgb(223, 223, 223);
    display: block;
    padding: 15px 20px 15px;
}

.form-group {
    margin: 0px 10px 40px;
}

.inputContact {
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgb(223, 223, 223);
    font-size: 1.1rem;
    outline: none;
}

.messageEnsemble {
    display: flex;
}

.footerBloc {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    padding: 10px 20px 10px;
    font-size: medium;
    margin-right: 10px;
    cursor: pointer;
}