<div class="contactPage">
    <div>
        <h2 class="textContactPage">Formulaire de contact</h2>
        <p class="textTop">
           Nous vous invitons à nous laisser vos coordonnées et à 
           nous faire part de votre message dans le formulaire ci-dessous. 
           Nous vous contacterons dans les meilleurs délais.
        </p>
    </div>
    <div class="ensembleBlocContact">
        <div class="blocInformation">
            <div class="informationContent">
                <div>
                    <h2>Adresse</h2>
                    <p class="content">65 Bd Charles de Gaulle, 91540 Mennecy</p>
                </div>
                <div style="margin-top: 50px">
                    <h2>Tel</h2>
                    <p class="content">06 84 17 14 26</p>
                </div>
                <div style="margin-top: 50px">
                    <h2>E-mail</h2>
                    <p class="content">secretariat.gpei@gmail.com</p>
                </div>
            </div>
            <br />
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2640.4822412634394!2d2.428001015075125!3d48.56231182946273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5dd62b07147a7%3A0x6afd02b00a276e5c!2s65%20Bd%20Charles%20de%20Gaulle%2C%2091540%20Mennecy!5e0!3m2!1sfr!2sfr!4v1680181811446!5m2!1sfr!2sfr" width="359" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="blocFormulaire">
            <div class="formContent">
                <div class="headerBloc">
                    <h2 style="color: #965602;">Mes informations</h2>
                </div>
                <div class="form">
                    <form [formGroup]="contactForm">   
                        <div class="form-group">
                            <label for="name" style="margin-right: 40px; font-weight: bold; color: grey;">Nom * :</label>
                            <input class="inputContact" name="name" type="text" size="60" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="firstName" style="margin-right: 40px; font-weight: bold; color: grey;">Prénom * :</label>
                            <input class="inputContact" name="firstName" type="text" size="60" formControlName="firstName">
                        </div>
                        <div class="form-group">
                            <label for="email" style="margin-right: 40px; font-weight: bold; color: grey;">E-mail * :</label>
                            <input class="inputContact" name="email" type="email" size="60" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="subject" style="margin-right: 40px; font-weight: bold; color: grey;">Sujet * :</label>
                            <input class="inputContact" name="subject" type="text" size="60" formControlName="subject">
                        </div>
                        <div class="form-group">
                            <span class="messageEnsemble">
                            <label for="message" style="margin-right: 20px; font-weight: bold; color: grey;">Message * :</label>
                            <textarea style="border: none; background-color: rgb(223, 223, 223); outline: none; font-size: 1rem;" name="message" rows="10" cols="63" formControlName="message"></textarea>
                            </span>
                        </div>
                        <div class="footerBloc">
                            <em>* champs obligatoires</em>
                            <button type="submit" (click)="onSubmit(contactForm.value)" [disabled]="!contactForm.valid">Envoyer votre message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>