:host ::ng-deep {
  .p-card.p-component {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 3vh 9vh;
    text-align: center;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    height: 67vh;
    width: 55vh;
  }

  .p-card .p-card-title {
    font-size: 4vh;
  }
}

img{
  height: 36vh;
}

.ecoleName {
  font-size: 2.9vh;
}

.voirPlus{
  color: #e08e13; 
  font-size: 2.4vh; 
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  :host ::ng-deep {
      .p-card.p-component {
        box-shadow: lightgray 4px 4px 20px;
        border-radius: 10px;
        border: 1px solid lightgray;
        text-align: center;
        height: 57vh;
        display: inline-block;
        font-size: small;
      }

      .p-card .p-card-title {
        font-size: large;
      }
    }

    .ecoleName {
      font-size: medium;
    }

    .voirPlus{
      font-size: medium;
    }
}

@media screen and (max-width: 499px) {
  :host ::ng-deep {
    .p-card.p-component {
      width: 35vh;
    }
  }
  
  img {
    height: 140px;
  }
}

@media screen and (max-width: 300px) {
  :host ::ng-deep {
    .p-card.p-component {
      width: 25vh;
      font-size: x-small;
      margin: 3vh 4vh;
      height: 52vh;
      .p-card .p-card-title {
        font-size: medium;
      }
    }
  }

    .ecoleName {
      font-size: small;
    }

    .voirPlus{
      font-size: small;
    }
  
  img {
    height: 100px;
  }
}