:host ::ng-deep {
    .p-card.p-component {
      box-shadow: lightgray 4px 4px 20px;
      border-radius: 10px;
      border: 1px solid lightgray;
      margin: 20px 60px;
      text-align: center;
      display: inline-block;
      justify-content: center;
    }
  }

  img {
    width: 360px;
    height: 270px;
  }