<div style="text-align:center;">
    <p-card header="Collège" [style]="{ 'width': '360px', 'font-size': '1.5rem', 'font-weight': 'bold'}" styleClass="my-card">
        <ng-template pTemplate="header">
            <img alt="Card" style="border-radius: 10px 10px 0px 0px;" src="../../assets/college.jpg" />
        </ng-template>
        <p style="font-size: 1.2rem;">
            Collège du parc de Villeroy
        </p>
        <p style="color: #e08e13; font-size: 1rem;">
            Voir plus +
        </p>
    </p-card>
</div>
