<div style="text-align:center;">
    <p-card header="Collège" styleClass="my-card">
        <ng-template pTemplate="header">
            <img alt="Card" style="border-radius: 10px 10px 0px 0px;" src="../../assets/college.jpg" />
        </ng-template>
        <p class="ecoleName">
            Collège du parc de Villeroy
        </p>
        <p class="voirPlus" (click)="showDialog()">
            Voir plus +
        </p>
    </p-card>
</div>
<p-dialog header="Collège / Du Parc de Villeroy" class="dialogCollege" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div>
        <div>
            <p class="m-0">
                Direction : BASILE Sébastien
            </p>
            <p class="m-0">
                Adresse : Av. de Villeroy, 91540 Mennecy
            </p>
            <p class="m-0">
                Tel : 01 64 57 06 40
            </p>
            <p class="m-0">
                Email : ce.0911185U@ac-versailles.fr
            </p>
        </div>
        <br />
        <div>
            <h4>Liste des élus de l'établissements</h4>
            <ul>
                <li>Mme BLEMUS Cathy | Responsable niveau 6ème</li>
                <br />
                <li>Mme LOIRAT Florence | Responsable niveau 5ème</li>
                <br />
                <li>M BELGACEM Brahim | Responsable niveau 4ème</li>
                <br />
                <li>Mme FERRE Anne | Responsable niveau 3ème</li>
            </ul>
        </div>
    </div>
</p-dialog>
