:host ::ng-deep {
  .p-card.p-component {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 3vh 9vh;
    text-align: center;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    width: 55vh;
    }

  .p-card .p-card-title {
    font-size: 4vh;
    }
  }

  img{
    height: 36vh;
  }
  
  .ecoleName {
    font-size: 2.9vh;
  }
  
  .voirPlus{
    color: #e08e13; 
    font-size: 2.4vh; 
    cursor: pointer;
  }

  @media screen and (max-width: 400px) {
    :host ::ng-deep {
      .p-card.p-component {
        width: 38vh;
      }
    }
    
    img {
      height: 160px;
    }

    .dialogCollege {
      text-align: center;
    }
  }