<h2 class="titleData">Gestion des actualités</h2>
<div class="card">
    <p-dataView #dv [value]="postAct" [rows]="5" [paginator]="true">
        <ng-template pTemplate="header">
            <div class="headerEnsemble">
                <p-dropdown [options]="categorie" optionLabel="categorie" placeholder="Trier par catégorie" (onChange)="onSortChange($event)"></p-dropdown>
                <div class="ensembleBtnHeader">
                    <button (click)="reset()" pButton style="background-color: black; border: 1px solid black;" icon="pi pi-undo"></button>
                    <button (click)="showDialogAdd()" style="background-color: #e08e13; border: 1px solid #e08e13;" pButton icon="pi pi-plus"></button>
                </div>
            </div>
        </ng-template>
        <ng-template let-post pTemplate="listItem">
            <div class="col-12">
                <div class="ensembleBlocList">
                    <div class="ensembleBlocInfo">
                        <img class="imageList" [src]="post.image" [alt]="post.title" />
                        <div class="emsembleTexte">
                            <div style="font-size: 1.5rem; font-weight: 700; color: black;">{{ post.title }}</div>
                            <div>
                                <span>
                                    <i class="pi pi-tag" style="margin-right: 5px;"></i>
                                    <span>{{ post.categorie }}</span>
                                </span>
                            </div>
                            <span>{{ post.datePost | date: 'longDate'}}</span>
                        </div>
                    </div>
                        <div class="ensembleFooter">
                            <div class="ensembleBtn">
                                <div style="font-size: 1rem; font-weight: 700;">Modifier</div>
                                <button (click)="showDialogModify(post.id)" style="background-color: orange; border: 1px solid orange;" pButton icon="pi pi-pencil"></button>
                            </div>
                            <div class="ensembleBtn">
                                <div style="font-size: 1rem; font-weight: 700;">Supprimer</div>
                                <button (click)="deleteDialog(post.id, post.image)" style="background-color: red; border: 1px solid red;" pButton icon="pi pi-trash"></button>
                            </div>
                        </div>
                    </div>
                </div>
        </ng-template>
    </p-dataView>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>