.ensembleCorps {
    display: flex;
    margin: 15px;
}

.newsletter {
    box-sizing: border-box;
    padding: 5px 20px;
    box-shadow: lightgray 4px 4px 20px;
}

.Image {
    height: 220px;
    width: 100%;
    object-fit: cover;
}