.ensembleCorps {
    margin: 15px;
}

.newsletter {
    box-sizing: border-box;
    padding: 5px 20px;
    box-shadow: lightgray 4px 4px 20px;
}

.post-image-container {
    width: 350px;
    height: 245px;
    background-size: cover;
}

.container {
    display: inline-block;
    text-align: center;
    align-items: center;
}