<div style="text-align:center;">
    <div *ngFor="let post of posts | slice:first:first+rows" class="container">
        <div class="ensembleCorps">
            <div class="newsletter">
                <p>{{post.type}}</p>
                <div class="post-image-container" [ngStyle]="{'background-image': 'url(' + post.image + ')', 'background-position': 'center'}"></div>
                <a style="text-decoration: none;" [routerLink]="['/actualite', post.id]"><p style="font-weight: bold; color: black;">{{post.title}}</p></a>
                <p>{{post.datePost | date:'dd/MM/yy'}}</p>
            </div>
        </div>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="total"></p-paginator>
</div>
