<app-carrousel [posts]="postActualite"></app-carrousel>
<br />
<h2 class="actualité">Actualités du jour</h2>
<div style="text-align:center;">
    <div *ngFor="let post of postActualite" class="container">
        <div class="ensembleCorps">
            <div class="newsletter">
                <p>{{post.type}}</p>
                <div class="post-image-container" [ngStyle]="{'background-image': 'url(' + post.image + ')', 'background-position': 'center'}"></div>
                <p>{{post.title}}</p>
                <p>{{post.datePost | date: 'longDate'}}</p>
            </div>
        </div>
    </div>
</div>

<div class="parent">
    <div class="div1">
        <h2 class="titre_bloc">Vous avez des choses à nous dire ?</h2>
        <p>Des informations à transmettre ? , des documents à faire parvenir ?</p>
        <p>Ne vous inquiétez pas nous ne vous mangerons pas ;)</p>
        <p>Vous pouvez prendre contact en appuyant sur le bouton juste en dessous !</p>
        <button class="btnContact" routerLink="contact">Nous contacter</button>
    </div>
    <div class="div2">
        <h2 class="titre_blocPourquoi">Pourquoi adhérer à la GPEI ?</h2>
        <div style="text-align: left;">
            <p>- La GPEI veille au bien-être de tous les enfants</p>
            <p>- La GPEI accompagne tous les parents</p>
            <p>- La GPEI organise la solidarité</p>
        </div>
        <button class="btnPourquoi">Adhérer dès maintenant !</button>
    </div>
    <div class="div3"></div>
    <div class="div4"></div>
</div>
<div class="inscriptionNewsletter">
    <div class="texteNewsletter">
        <h2>Inscrivez vous à notre newsletter</h2>
        <p>Vous pourrez connaître en avance tout les numéros gagnant du loto à venir, ainsi que bien d'autre avantage pour petit et grands !</p>
        <input class="email" size="60" type="email" placeholder="Entrez une adresse e-mail valide !">
        <button class="btnSend" type="submit">OK</button>
    </div>
    <img class="flyers" src="https://www.mennecy.net/_media/img/small/gpei-flyer.png" alt="flyers" />
</div>