<app-carrousel [posts]="postActualite"></app-carrousel>
<br />
<h2 class="actualité">Actualités du jour</h2>
<div style="text-align:center;">
    <div *ngFor="let post of postActualite" class="container">
        <div class="ensembleCorps">
            <div class="newsletter">
                <p>{{post.type}}</p>
                <div class="post-image-container" [ngStyle]="{'background-image': 'url(' + post.image + ')', 'background-position': 'center'}"></div>
                <a style="text-decoration: none;" [routerLink]="['/actualite', post.id]"><p style="font-weight: bold; color: black;">{{post.title}}</p></a>
                <p>{{post.datePost | date: 'longDate'}}</p>
            </div>
        </div>
    </div>
</div>

<div class="parent">
    <div class="div1">
        <span>
            <h2 class="titre_bloc">Vous avez des choses à nous dire ?</h2>
            <span class="textDiv1">
                <p>Des informations à transmettre ? , des documents à faire parvenir ?</p>
                <p>Ne vous inquiétez pas nous ne vous mangerons pas ;)</p>
                <p>Vous pouvez prendre contact en appuyant sur le bouton juste en dessous !</p>
            </span>
            <button class="btnContact" routerLink="contact">Nous contacter</button>
        </span>
    </div>
    <div class="div2">
        <span>
            <h2 class="titre_bloc">Pourquoi adhérer au GPEI ?</h2>
            <span class="textDiv2" style="text-align: left;">
                <p>- Le GPEI a œuvré pour que la sécurité des élèves soit la priorité des autorités</p>
                <p>- Le GPEI accompagne tous les parents</p>
                <p>- Le GPEI est présent à toutes les commissions</p>
            </span>
            <button class="btnPourquoi" routerLink="pourquoi-adherer?">Adhérer dès maintenant !</button>
        </span>
    </div>
    <div class="div3">
        <span class="div3Texte">
            <h1 class="titre_bloc3">Actualités scolaires ville de Mennecy</h1>
            <p>Envie de connaître et de vous renseigner sur l'ensemble des actions et nouveautés mis en place par la municipalité ? 
                Ça se passe ici !
            </p>
            <h3 class="lienBloc3"><a style="color: white; text-decoration: none;" href="https://www.mennecy.fr/la-mairie-et-ses-services/vie-scolaire-enfance-jeunesse/">En savoir plus</a></h3>
        </span>
    </div>
    <div class="div4">
        <span class="div4Texte">
            <h1 class="titre_bloc4">On s'est refait une beauté !</h1>
            <br/>
            <p>Le site web officiel du GPEI Mennecy a entièrement été refait à neuf, de nombreuses nouveautés et informations ont été ajoutées
                en comparaison avec sa version précédente !
            </p>
            <br />
            <p>Vous y trouverez des actualités mise à jour régulièrements, des documents à télécharger ainsi qu'un système d'adhésion à notre 
                association si l'envie vous prend de nous rejoindre ;)</p>
        </span>
    </div>
</div>
<div class="inscriptionNewsletter">
    <div class="texteNewsletter">
        <h2>Inscrivez vous à notre newsletter</h2>
        <p>Vous pourrez être mis au courant des dernières nouveautés et évènements organisés par l'association !</p>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div>
                <input
                pInputText
                class="p-inputtext-sm"
                style="width: 40%;"
                placeholder="Entrez votre adresse e-mail"
                formControlName="email"
                />
                <button pButton class="btnSend" type="submit">OK</button>
            </div>
            <small *ngIf="showInvalidEmailMessage === true" id="email-help" style="color: red;">
                L'e-mail que vous avez rentré n'est pas valide !
            </small>
            <small *ngIf="showInvalidEmailMessage2 === true" id="email-help2" style="color: red;">
                L'e-mail que vous avez rentré est déjà inscrit !
            </small>
        </form>
    </div>
</div>

<p-dialog [(visible)]="showInvalidEmailMessage3" [showHeader]="false" [modal]="true" [style]="{ width: '50vw' }">
    <p>
        <br />
        <br />
        Votre adresse e-mail a bien été enregistrée. 
        <br />
        <br />
        Vous êtes désormais inscrit à notre newsletter !
        <br />
        <br />
        Si vous êtes ahdérent à notre association, vous pourrez accéder à des rappels de réunions ainsi qu'à d'autres exclusivités.
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onAdd(emailForm.value)" label="OK" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>