.container {
  display: inline-block;
}

.ensembleCorps {
  margin: 15px;
}

  .actualité {
    color: #e08e13;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background: linear-gradient(to right, #e08e13 120%, transparent 50%) no-repeat center bottom/5% 4px;
  }

  .newsletter {
    box-sizing: border-box;
    padding: 5px 20px;
    box-shadow: lightgray 4px 4px 20px;
}

.post-image-container {
  width: 350px;
  height: 245px;
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: 400px 600px;
  grid-template-rows: repeat(2, 330px) 200px;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  margin: 50px auto 50px;
  justify-content: center;
}
  
  .div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: rgb(106, 106, 255);
    color: white;
    text-align: center;
    padding: 0px 20px 0px;
  }

  .btnContact {
    border: none;
    font-family: "Montserrat",sans-serif;
    color: white;
    padding: 10px 40px 10px;
    font-size: 1.275rem;
    background-color: rgb(59, 59, 172);
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
      transform: scale(1.09);
    }
  }

  .div2 { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: #e08e13;
    color: white;
    text-align: center;
    padding: 0px 40px 0px;
  }

  .btnPourquoi {
    border: none;
    font-family: "Montserrat",sans-serif;
    color: white;
    padding: 10px 10px 10px;
    font-size: 1.275rem;
    margin-top: 30px;
    background-color: #c07300;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
          transform: scale(1.09);
    }
  }

  .div3 { 
    grid-area: 3 / 1 / 4 / 3; 
    background: linear-gradient(90deg, rgba(109, 109, 109, 0.7) 0%, rgba(160, 160, 160, 0.7) 100%), url('../../assets/ecole2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .div4 { 
    grid-area: 1 / 2 / 3 / 3; 
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../../assets/ecole1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div3Texte {
    display: block;
    margin: 0px 35px 0px;
  }

  .div4Texte {
    display: block;
    margin: 0px 15px 0px;
  }

.inscriptionNewsletter {
  margin: 0px 20px 40px;
  background-color: rgb(197, 197, 197);
}

.texteNewsletter {
  text-align: center;
  padding: 10px 30px 30px;
}

.email {
  padding: 10px;
  font-family: "Montserrat",sans-serif;
  border: none;
  margin-top: 15px;
}

.btnSend {
  border: none;
  background-color: grey;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  &:hover{
    background-color: grey;
  }
}

.titre_bloc4 {
  font-size: 2.875rem;
  font-weight: 700;
}

.lienBloc3 {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {
  .parent {
    display: block;
    margin: 50px 15px 50px;
    justify-content: center;
  }

  .div1 { 
    background-color: rgb(106, 106, 255);
    color: white;
    text-align: center;
    padding: 20px 0px 20px;
  }

  .textDiv1 {
    display: none;
  }

  .textDiv2 {
    display: none;
  }

  .titre_bloc {
    margin-top: 0px;
    font-size: 2rem;
  }

  .div2 { 
    background-color: #e08e13;
    color: white;
    text-align: center;
    padding: 20px 0px 20px;
  }

  .btnPourquoi {
    border: none;
    font-family: "Montserrat",sans-serif;
    color: white;
    padding: 10px 10px 10px;
    font-size: 1.275rem;
    margin-top: 5px;
    background-color: #c07300;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
          transform: scale(1.09);
    }
  }

  .div3 { 
    background: linear-gradient(90deg, rgba(109, 109, 109, 0.7) 0%, rgba(160, 160, 160, 0.7) 100%), url('../../assets/ecole2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .div4 { 
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../../assets/ecole1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 769px) {
  .parent {
    display: block;
    margin: 50px auto 50px;
    justify-content: center;
  }

  .div1 { 
    background-color: rgb(106, 106, 255);
    color: white;
    text-align: center;
    padding: 40px 0px 30px;
  }

  .div2 { 
    background-color: #e08e13;
    color: white;
    text-align: center;
    padding: 40px 0px 30px;
  }

  .titre_bloc {
    margin-top: 0px;
    font-size: 1.8rem;
  }

  .div3 { 
    background: linear-gradient(90deg, rgba(109, 109, 109, 0.7) 0%, rgba(160, 160, 160, 0.7) 100%), url('../../assets/ecole2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px 0px 30px;
  }

  .div4 { 
    padding: 40px 0px 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../../assets/ecole1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 421px) {
  .post-image-container {
    width: 250px;
    height: 145px;
    background-size: cover;
  }

  .container {
    display: inline-block; 
    font-size: small;
  }
}